.hide,legend,hr,caption span {
    position: absolute;
    left: -3000%;
}

ul,li,a {
    text-decoration: none;

}


#banner {
    background: #0e3c84;
    height: 160px;

}

#banner > div {
width: 1200px;
margin: 0 auto;
text-align: center;
position: relative;
}
#banner .prev, 
#banner .next,
#banner .control,
#banner .close {
position: absolute;
}

#banner .prev {
left: 0;
top: 44px;
}

#banner .next {
right:0;
top: 42px;
}
#banner .control {
left: 0;
bottom: 11px;
font-size: 0;
}

#banner .control a {
    margin-right: 15px;
}

#banner .close {
right: 0;
bottom: 4px;
}

#banner .close label {
font-size: 11px;
color: #fff;
padding-right: 22px;
}

#header {
    height: 99px;
    border-bottom: 1px solid #c5c5c5;
}

#header > div {
    width: 1200px;
    margin: 0 auto;
}

#header > div >*{
float: left;
}

#header h1 {
    padding: 0px 20px 0px 0px;
}

#header #lnb li {
float: left;
padding: 0px 16px;
} 

#header #lnb li a {
 display: block;
 height: 99px;
 line-height: 99px;
 font-size: 16px;
 font-weight: bold;
 color: #333;
 
}

#header #lnb li a:hover {
    height: 95px;
    border-bottom: 4px solid #1764dc;
    color: #3c91f3;
   background: url("/img/bg_lnb.gif") no-repeat center 87px;
}

#header p {
    float: left;
    height: 99px;
    line-height: 99px;
    font-weight: bold;
    font-size: 22px;
    color: #0e3c84;
}

#header p span {
    color: #1764dc;
}

#header > div > div {
    float: right;
}

#header > div > div > div {
    float: left;
    padding: 30px 0 0 0px;
    font-size: 0;
}

#header .btn_pop {
    width: 70px;
    height: 40px;
    background:url("/img/bu_arrow_down.gif")no-repeat 55px center #2cc06b;
    display: inline-block;
    position: relative;
    top: 5px;
    right: -2px;
    font-size: 11px;
    color: #fff;
    line-height: 40px;
    text-indent: 9px;
}

/* visual */

#visual {
    background: url("/img/bg_visual.jpg")no-repeat center top;
}

#visual > div {
    width: 1200px; 
    margin: 0 auto;
}

#visual .copy {
    padding: 25px 0 0;
}

#visual .copy > div {
    float: left;
    width: 33.33%;
}

#visual .copy .txt1 {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    /* text-align: center; */
    letter-spacing: 12px;
    padding: 127px 0 0 0;
}

#visual .copy .txt1 div {
    font-size: 33px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0;

}

#visual .copy .txt1 img {
    margin: 0 22px 0 8px;
}

#visual .copy .txt2 {
    width: 415px;
    height: 334px;
   background: url("/img/bg_circle.png")no-repeat center; 
   font-family: 'russell_squareregular';
   font-size: 20px;
   color: #fff;
   text-align: center;
   padding: 80px 0 0 0;
}

#visual .copy .txt2 div {
    font-family: 'russell_squareregular';
    font-size: 135px;
    color: #fff;
}

#visual .copy .txt3 {
    color: #fff;
    font-family: 'russell_squareregular';
    text-align: center;
    font-size: 40px;
    letter-spacing: 15px;
    padding: 127px 0 0 0px;
    float: right;
    width: 326px;
}

#visual .copy .txt3 div {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
     text-align: center;
     letter-spacing: 7px;
}

#visual .paging {
    text-align: center;
    font-size: 0;
    margin: 0px 0 16px;
}

#visual .paging div {
 padding: 17px 0 0 0;
}

#visual .paging ul {
    font-size: 0;
    display: inline-block;
}

#visual .paging li {
    display: inline-block;
    margin: 0px 7px;
}

#visual .paging p {
    margin: 0px 7px;
    display: inline-block;
    font-size: 0;
}

#visual .bottom h2 {
    width: 100px;
    height: 67px;
    background: #f13009;
    color:#fff;
    text-align: center;
    font-size: 18px;
    padding: 33px 0 0 0;
    float: left;
}

#visual .bottom .event {
    float: left;
    width: 730px;
    height: 100px;
    background: rgba(0,0,0,0.3);
    padding: 0px 80px;
    position: relative;
}

#visual .bottom .event div {
    position: absolute;
    left: 38px;
    top: 28px;
    background: url("/img/bg_line.gif")no-repeat center 25px;;
}

#visual .bottom .event div a {
    display: block;
    margin: -6px 0 32px;
}

#visual .bottom .event li {
    float: left;
    width: 50%;
   
}

#visual .bottom .event ul {
    padding: 26px 0 0 0;
}

#visual .bottom .event li a {
    font-size: 14px;
    padding: 0 0 0 18px;
    display: block;
    color: #fff;
    background: url("/img/bu_circle.png")no-repeat left;
    line-height: 22px;
}

#visual .bottom .weather {
    float: right;
    width: 124px;
    height: 100px;
    background: #23b963;
    padding: 0px 43px;
    position: relative;
}

#visual .bottom .weather h3 {
    text-align: center;
    color: #fff;
    font-size: 15px;
    padding: 17px 0 0 9px;
}

#visual .bottom .weather > a {
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
}

#visual .bottom .weather > a.left {
 left: 19px;
}

#visual .bottom .weather > a.right {
right: 19px;
}

#visual .bottom .weather > div {
   padding: 0 0 0 68px;
   position: relative;
   font-size: 12px;
   color: #fff;
}

#visual .bottom .weather > div img {
    position: absolute;
    left: 9px;
    top: 0px;
}

#visual .bottom .weather > div  div {
    font-size: 29px;
    color: #fff;
    font-weight: bold;
}

/* traffic_box */

#traffic_box {
    background: url("/img/bg_traffic.jpg")no-repeat center top;
}

#traffic_box > div {
    width: 1200px; 
    margin: 0 auto;
    position: relative;
}

#traffic_box >div h2 {
    font-size: 38px;
    padding: 70px 0 0 0;
    color: #fefefe;
    text-align: center;
}

#traffic_box > div .speed {
    width: 250px;
    height: 230px;
    margin: 35px auto 145px;
    background: url("/img/bg_circle2.png")no-repeat center top;
    text-align: center;
   
}

#traffic_box > div .speed div {
    color: #fff;
}


#traffic_box > div div .t1 {
padding: 72px 0 0px;
font-size: 14px;
font-weight: bold;
letter-spacing: 10px;
text-indent: 6px;
}

#traffic_box > div div .t2 {
    font-size: 60px;
    line-height: 73%;

} 

#traffic_box > div div .t3 {
    font-size: 11px;
    padding: 17px 0 0;
   
}

#traffic_box > div .left {
    position: absolute;
    left: 50px;
    top: 246px;
}

#traffic_box > div .right {
    position: absolute;
    right: 60px;
    top: 270px;
}

#traffic_box > div .left li {
    float: left;
    padding: 0 3px 0 0;
}

#traffic_box > div .left a {
    display: block;
    width: 105px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    background: url("/img/bg_btn_tab.png")no-repeat left top;
}

#traffic_box > div .left a:hover ,
#traffic_box > div .left li.on a {
    background-position: right top;
}

#traffic_box > div .graph {
    width: 1052px;
    margin: 0 auto;
}

#traffic_box > div .graph  ul {
    padding: 98px 0 0 0;
}

#traffic_box > div .graph li {
    width: 45px;
    padding: 0 0 0 80px;
    float: left;
    background: url("/img/bg_arrow.png")no-repeat 23px center;
    font-size: 15px;
    text-align: center;
    color: #fff;
    position: relative;
}

#traffic_box > div .graph li:first-child {
    background: none;
    padding-left: 0px;
}

#traffic_box > div .graph li:first-child {
    right:0px;
}

#traffic_box > div .graph li > div {
    position: absolute;
    right: -47px;
    top: -205px;
    font-size: 12px;

}

#traffic_box > div .graph li > div strong {
    display: block;
    font-size: 25px;
    text-align: center;
    position: relative;
}

#traffic_box > div .graph li > div strong img{
    display: block;
    margin: 0 auto;
}

#traffic_box > div .graph li > div strong img + span {
    position: absolute;
    font-size: 11px;
    color: #fff;
    background: #0e3c84;
    width: 215px;
    padding: 8px;
    left: 29px;
    top: -22px;
    display: none;
}

#traffic_box > div .graph li > div strong img:hover +span {
    display: block;
}

#traffic_box > div .next {
    text-align: center;
    padding: 13px 0 28px;
}

/* safe */

#safe {
    background: url("/img/bg_visual2.gif")no-repeat center top;
}

#safe > div {
    width: 1120px;
    margin: 0 auto;
    position: relative;
}

#safe > div h2 {
    font-size: 38px;
    color: #123977;
    text-align: center;
    padding: 72px 0 36px;
}

#safe .list {
    border: 1px solid#ddd;
}

#safe .list li {
float: left;
width: 25%;
border-left: 1px solid #ddd;
margin-left: -1px;
text-align: center;
background-position: center 50px;
background-repeat: no-repeat;
position: relative;
}

#safe .list li h3 {
 padding: 140px 0 16px;
 background: url("/img/bg_line.gif")no-repeat center bottom;
 font-size: 19px;
 color: #333;
}

#safe .list li div {
    padding: 19px 0 0;
    height: 85px;
    font-size: 13px;
    color: #777;
    line-height: 18px;
}

#safe .list li a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: transparent;
}

#safe .list li .bg1 {
    background-image: url("/img/bg_ico_off1.png");
}

#safe .list li .bg2 {
    background-image: url("/img/bg_ico_off2.png");
}

#safe .list li .bg3 {
    background-image: url("/img/bg_ico_off3.png");
}

#safe .list li .bg4 {
    background-image: url("/img/bg_ico_off4.png");
}

#safe .list li:hover {
    background-color: #1660b4;
}

#safe .list li:hover h3,
#safe .list li:hover div {
    color: #fff;
}

#safe .list li .bg1:hover {
    background-image: url("/img/bg_ico_off1.png");
}

#safe .list li .bg2:hover {
    background-image: url("/img/bg_ico_off2.png");
}

#safe .list li .bg3:hover {
    background-image: url("/img/bg_ico_off3.png");
}

#safe .list li .bg4:hover {
    background-image: url("/img/bg_ico_off4.png");
}

#safe .news {
    padding: 40px 0 0;
    
}

#safe .news > div {
    float: right;
    width: 530px;
    position: relative;
}

#safe .news > div:first-child {
    float: left;
}

#safe .news h3 {
    font-size: 22px;
    color: #333;
    padding: 0 0 21px;
}

#safe .news li {
    height: 74px;
    padding: 0 0 0 100px;
    position: relative;
}

#safe .news li a {
    height: 74px;
    line-height: 74px;
    border-bottom: 1px solid #ececec;
    display: block;
}

#safe .news li a img {
    position: relative;
   
}

#safe .news li span {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 74px;
    border-bottom: 1px solid #ececec;
    text-align: center;
    width: 70px;
    font-size: 13px;
    color: #888;
}

#safe .news li span strong {
     padding: 20px 0 0 0;
     display: block;
    font-size: 21px; color: #1e62cc;
   
}

#safe .news > div p {
    position: absolute;
    right: 0;
    top: 5px;
}

#safe .next {
    padding: 35px 0 20px;
    text-align: center;
}



